#shoutbox #messages {
	margin-top: 50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-small;
}
#shoutbox #button {
	float: right;
	margin-top: 5px;
}
#shoutbox #fields textarea {
	border: 1px solid #CCC;
	width: 100%;
	clear: right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-small;
}

#shoutbox #fields input {
	border: 1px solid #CCC;
	width: 100px;
	clear: right;
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-small;
}

#shoutbox #messages dt {
	font-weight: bold;
	color: #F30;
	padding-bottom: 5px;
}
#shoutbox #messages dd {
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #CCC;
	border-bottom-style: solid;
}

#shoutbox #messages #timestamp {
	color: #000;
}

#shoutbox {
	padding-left: 10px;
}