body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#main {
	min-width: 500px;
	width: 60%;
	float: left;
}
#head {
	
	/** background: #FFF url(../images/header-04-f.png) no-repeat left; **/
	border-bottom: 1px solid #BEC0C9;
    margin-top: 2em;
	height: 5em;
}

#hlinks {
	height: 5em;
	vertical-align: bottom;
}
#hlinks ul {
	list-style-type: none;
	white-space: nowrap;
	display: inline;
	margin-top: 3em;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}


#hlinks li {
	display: inline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	vertical-align: bottom;
}

#hlinks a {
	margin-left: 1em;
	border: none;
	vertical-align: bottom;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover,#hlinks a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #F30;
}


#news {
	padding-bottom: 15px;
	border-bottom: 1px solid #BEC0C9;
}

span.grn {
	color: #090;
}

span.orange {
	color: #ff3300;
}

/* Right - Boxes on the Right - Navigation etc. ----------------------------------------------- */
h3 {
	color: #373737;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	word-spacing: 0em;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-transform: lowercase;
}

h1 {
	color: #373737;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 2px;
	text-transform: lowercase;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #373737;
}

h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	color: #373737;
}

h5 {
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}

#main h4 {
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
}

#main h3 {
	font-family: Verdana, Geneva, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-bottom: 1px solid #BEC0C9;
}



/* Main - Content Box ------------------------------------------------------------------------- */
#playlist {
	width: 100%;
}

#playlist th {
	text-align: left;

}

#main p {
	margin: 1em 2px;
}

.cont {
	color: #373737;
	text-align: justify;
	margin-bottom: 1em;
}

a.read {
	color: #000;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	display: inline;
	margin: 0;
	border-bottom: 1px solid #090;
}

a.read:hover {
	background-color: #EBEBEB;
}

#foot {
	color: #FFF;
	width: 720px;
	font-weight: bold;
	text-align: right;
	position: relative;
	clear: left;
}

#foot a {
	color: #FFF;
}


#all ul {
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 5px;
	margin-left: 0em;
	margin-bottom: 0em;
}

#all #right li {
	padding-left: 0em;
	padding-right: 0em;
	margin-bottom: 0em;
	margin-left: 0px;
	margin-right: 0px;
}

.timestamp {
	color: #ff3300;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#pagination .current {
	font-size: 1.3em;
	font-weight: bold;
	padding-left: 0.2em;
	padding-right: 0.2em;
	              
}
#head .logo {
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
